.navmysence{
	background:url(../img/banner.png);
}
.VideoSencepreview{
	width: 80px;margin-left: 90%;margin-top: 0.5%;
}
.VideoSenceall{
	width: 100%;
	padding: 0% 10%;
	
}
.VideoSencephone{
width: 40%;
display: inline-table;
}
.phone{
	width: 375px;
	height:667px;
	background-color: pink; 
	overflow: hidden;
    position: relative;
}
.VideoSenceset{
	width: 60%;
	height: 80px;
	float: right;
}
.VideoSenceuploading1{
    width: 50%;
    margin-top: 10%;
    float: left;
    margin-bottom: 4%;
}
.VideoSenceinput{
    width: 120px;
    height: 120px;
    background-color: #1eb1fc;
    margin-left: 30%;
    margin-top: -8%;
}
.VideoSenceinputpic{
    width: 120px;
    height: 30px;
    margin-left: 30%;
    background-color: white;
    text-align: center;
    line-height: 30px;
    border: 1px solid #e1e1e1;
}
.VideoSenceinputfile{
	    border: 0px;
    background-color: transparent;
    opacity: 0;
    width: 120px;
    height: 30px;
    margin-left: 30%;
    margin-top: -9%;
}
.VideoSenceinputaddress{
	    width: 100%;
	    margin-top: 34%;
}
.address{
    width: 70%;
    margin-left: 3%;
    height: 42px;
    border: 1px solid #d1d1d1;
}
.VideoSenceinputpraise{
	width: 100%;
	margin-top: 5%;
}
.optionsRadios1{
	margin-left: 5% !important;
}
.VideoSenceinputbtn{
	width: 100%;
	margin-top: 5%;
}
.button{
	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
	    
}
.btncancel{
    color: #000;
    background-color: white;
    border: 1px solid #d6d6d6;
    width: 100px;
    border-radius: 0px;
    height: 40px;
    margin-left: 51%;

}    
.btnsave{
    color: white;
    background-color: #00b0ff;
    border: 1px solid #00b0ff;
    width: 100px;
    border-radius: 0px;
    height: 40px;
    margin-left: 3%;
}
.checked{
	width: 16%; 
	position: absolute;
	z-index: 1;
	right: 7px; 
	bottom: 50px;
}
.none{
	display: none;
}
.prism-player{
        height: 100% !important;
}